.header{
    min-width:  960px;
    height: 58px;
    background-color: #1369bf;
    color: white;
}
.header .nav{
    width: 960px;
    display: flex;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header .nav .navList {
    display: flex;
    font-size: 18px;
}
.header .nav .navList .navItem.active{
    border-bottom: 2px solid #fff;
}
.header .nav .logo img{
    height: 25px;
    width: auto;
}

.header .nav .navList .navItem {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.header .nav .navList .navItem:focus {
    outline: none;
}
.header .nav .search {
    width: 300px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    padding: 0 20px;
    border: none;
    background: #fff;
    outline: none;
    display: flex;
}
.header .nav .search input {
    width: 260px;
    outline: none;
    border: none;
}
.header .nav .search .searchIcon {
    width: 30px;
    height: 30px;
    background-image: url('../assets/img/search.png');
    background-size: 100%;
}